<div class="tasks-container">
    <header class="tasks-header">
        <span class="logged-in"></span>
        <h1>to-do list</h1>      
        <a (click)="isLogged = !isLogged" class="logout">
            <ng-container *ngIf="isLogged">
                <span class="material-symbols-outlined">logout</span>
                <span>logout</span>
            </ng-container> 
            <ng-container *ngIf="!isLogged">
                <span class="material-symbols-outlined">login</span>
                <span>login</span>
            </ng-container>
        </a>    
    </header>
    <div class="tasks-content">
        <section class="create-task">
            <h2>create new task</h2>
            <form class="create-form" [formGroup]="taskForm" (ngSubmit)="createTask()">
                <div class="input-wrapper">
                    <label for="title">TITLE</label>
                    <input type="text" name="title" formControlName="title">
                    <ng-container *ngIf="taskForm.get('title')?.hasError('required') && taskForm.get('title')?.touched">
                        <p class="error-message">Missing field</p>
                    </ng-container>
                </div>
                <div class="input-wrapper">
                    <label for="description">DESCRIPTION</label>
                    <textarea name="description" rows="5" formControlName="description"></textarea>
                    <ng-container *ngIf="taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched">
                        <p class="error-message">Missing field</p>
                    </ng-container>
                </div>
                <button type="submit" [disabled]="taskForm.invalid">CREATE NEW TASK</button>
            </form>
            <span class="create-footer"></span>
        </section>
        <section class="tasks">
            <h2>tasks</h2>      
            <ng-container *ngFor="let task of tasks">
                <app-task (deleteTask)="deleteTask($event)" (toggleCompleted)="toggleCompleted($event)" [task]="task"></app-task>
            </ng-container>   
        </section>
    </div>
</div>
