<div class="tasks-container">
    <header class="tasks-header">
        <span class="logged-in"></span>
        <h1>to-do list</h1>
        <a class="logout">
            <span class="material-symbols-outlined">logout</span>
            <span>logout</span>
        </a>
    </header>
    <div class="tasks-content">
        <section class="create-task">
            <h2>create new task</h2>
            <form class="create-form">
                <div class="input-wrapper">
                    <label for="">TITLE</label>
                    <input type="text">
                </div>
                <div class="input-wrapper">
                    <label for="">DESCRIPTION</label>
                    <textarea name="" id="" rows="5"></textarea>
                </div>
                <button type="submit">CREATE NEW TASK</button>
            </form>
            <span class="create-footer"></span>
        </section>
        <section class="tasks">
            <h2>tasks</h2>
        </section>
    </div>
</div>
