body
    --primary-color: #0B2939
    --secondary-color: #153C51
    --elements-color: #1F5878
    --button-color: #29759E
    --txt-color: #ffffff
    --txt-black: #000000
    --txt-light-color: #8FABBB

*
    margin: 0
    padding: 0
    font-family: 'Lexend', sans-serif
